@font-face {
  font-family: "Stratos";
  src: url("fonts/stratos-regular-TRIAL.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Stratos";
  src: url("fonts/stratos-bold-TRIAL.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Stratos";
  src: url("fonts/stratos-light-TRIAL.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Stratos";
  src: url("fonts/stratos-medium-TRIAL.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Stratos";
  src: url("fonts/stratos-semibold-TRIAL.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Stratos";
  src: url("fonts/stratos-thin-TRIAL.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

:root {
  
  --primary-color: #3E2C2C;
  --secondary-accent: #E9DCC9;
  --accent-gold: #C1A875;


  --gradient-deep-coffee: linear-gradient(90deg, #3E2C2C 0%, #1F1A17 100%);
  --gradient-gold: linear-gradient(90deg, #E9DCC9 0%, #C1A875 100%);



}

.navbar {
      background: var(--secondary-accent);
    }

    .navbar-nav .nav-link {
      font-weight: 600;
      color: var(--primary-color);
      text-transform: uppercase;
      margin: 0 10px;
      transition: 0.3s ease;
    }

    .navbar-nav .nav-link:hover {
      color: var(--accent-gold);
    }

    .lang-select img {
      width: 20px;
      margin-right: 5px;
    }

    .divider {
      border-left: 2px solid transparent;
      background: var(--gradient-gold);
      margin: 0 15px;
      height: 24px;
    }

    .find-store {
      color: var(--primary-color);
      font-weight: 600;
    }

    .find-store:hover {
      color: var(--accent-gold);
    }
    
 .right-container {
      background: var(--gradient-deep-coffee);
      color: white;
    }

    .left-container {
      background: var(--gradient-gold);
      font-family: "Stratos",sans-serif;
      font-weight: 700;
    }

    .box {
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    