@font-face {
  font-family: "Stratos";
  src: url("../fonts/stratos-regular-TRIAL.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Stratos";
  src: url("../fonts/stratos-regular-TRIAL.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Stratos";
  src: url("../fonts/stratos-light-TRIAL.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Stratos";
  src: url("../fonts/stratos-medium-TRIAL.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Stratos";
  src: url("../fonts/stratos-semibold-TRIAL.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Stratos";
  src: url("../fonts/stratos-thin-TRIAL.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

:root {
  
  --primary-color: #3E2C2C;
  --secondary-accent: #E9DCC9;
  --accent-gold: #C1A875;


  --gradient-deep-coffee: linear-gradient(90deg, #3E2C2C 0%, #1F1A17 100%);
  --gradient-gold: linear-gradient(90deg, #E9DCC9 0%, #C1A875 100%);



}


body {
  font-family: "Stratos", sans-serif;
  
  margin: 0;
  line-height: normal;

}

.navbar-custom {
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  font-family: "Stratos", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.px-70 {
  padding-left: 70px !important;
  padding-right: 70px !important;
}

.navbar-nav {
  gap: 20px;
}

.navbar-nav .nav-link {
  color: var(--primary-color);
  margin: 0 15px;
  text-transform: uppercase;
  font-family: "Stratos", sans-serif;
  font-size: 16px;
  font-weight: 700;
  
}

.navbar-nav .nav-link:hover {
  color: var(--accent-gold);
}

.lang-select > a {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  text-decoration: none;
  font-family: "Stratos", sans-serif;
  font-size: 16px;
  font-weight: 400;
}



.lang-select img {
  width: 20px;
  margin-right: 5px;
  
}



.dropdown-menu {
  font-family: "Stratos", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.dropdown-item img {
  width: 20px;
  margin-right: 8px;
}

.find-store {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  text-decoration: none;
  margin-left: 20px;
  font-family: "Stratos", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.find-store:hover {
  color: var(--accent-gold);
}

.find-store i {
  margin-right: 5px;
 
}

/* Biar teks punya jarak kiri kanan 70px */
.caption-custom {
  bottom: 20%;
  padding-left: 70px;
  padding-right: 70px;
}

/* Atur tinggi gambar hero */
.carousel-inner img {
  object-fit: cover;
  height: 500px; /* bisa ubah sesuai kebutuhan */
}

/* Biar lebih mirip gambar kamu (rounded + shadow) */
.carousel-inner {
  border-radius: 20px;
}

.enjoy-the-aroma {
  	margin: 0;
}
.enjoy-the-aroma-container {
  	position: absolute;
  	top: calc(50% - 60px);
  	left: calc(50% - 454px);
  	letter-spacing: 0.05em;
  	font-weight: 500;
  	background: linear-gradient(134.81deg, #3e2c2c, #1f1a17);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.tagline-section {
  	width: 100%;
  	position: relative;
  	height: 268px;
  	overflow: hidden;
  	text-align: center;
  	font-size: 48px;
  	font-family: Stratos;
}

.gambar-suasana-kafe {
  	position: absolute;
  	top: 49px;
  	left: 70px;
  	width: 527px;
  	height: 482px;
  	overflow: hidden;
  	object-fit: cover;
}
.about-us {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: 0.05em;
  	font-weight: 500;
}
.welcome-to-coffee {
  	margin: 0;
}
.welcome-to-coffee-container {
  	align-self: stretch;
  	position: relative;
  	font-size: 17px;
  	letter-spacing: 0.01em;
  	color: #5a4b44;
}
.about-us-parent {
  	position: absolute;
  	top: 51px;
  	left: 669px;
  	width: 548px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 10px;
}
.about-us-section {
  	width: 100%;
  	position: relative;
  	height: 580px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 48px;
  	color: #3e2c2c;
  	font-family: Stratos;
}



